body {
  line-height: 1.6;
  background-color: #0f0f0f;
  color: #eee;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

ul {
  all: unset;
}

#playback-queue {
  height: 390px;
  width: 500px;
  overflow-x: scroll;
}

#playback-queue-elements > li {
  cursor: pointer;
}

#playback-queue-elements > li:nth-child(even) {
  background-color: #191919;
}

#playback-queue-elements > li:hover {
  background-color: #303030;
}

.selected {
  background-color: #404040 !important;
}

.flex {
  display: flex;
  gap: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#player {
  display: block;
}

#playlist-input {
  width: 720px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
